$color :red;



// 左侧菜单宽度
$base-menu-width: 260px;
$base-menu-backgroundcolor: #050920;

// 顶部导航的高度
$base-tabbar-height: 50px;

$base-menu-logo-height: 40px;

$base-logo-title-fontSize: 20px;

$base-menu-min-width: 60px;

$base-menu-logo-height-img: 50px